{% include "partials/htmlhead.njk" %}

{% include "partials/header.njk" %}
<main>
{% block content %}
  <h1>{{ title }}</h1>

  {{ content | safe }}

  {% include "partials/hero.njk" %}
  {% include "partials/stats.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/speakers.njk" %}
  {% include "partials/schedule.njk" %}
  {% include "partials/tickets.njk" %}
  {% include "partials/venue.njk" %}
  {% include "partials/sponsors.njk" %}

  {% include "partials/pagelist.njk" %}
{% endblock %}
</main>

{% include "partials/footer.njk" %}
