<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | safe }}</title>
  {% include "partials/head/seo.njk" %}
  {% include "partials/head/stylesheets.njk" %}
  {% include "partials/head/javascript.njk" %}
</head>