:root {
  --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: clamp(1rem, calc(1rem + 0.5vw), 2.5rem);
  --font-weight: 300;
  --font-bold: 600;
  --line-height: 1.5;
  --color-text1: #222;
  --color-back1: #f1faee;
  --color-back2: #a8dadc;
  --color-back3: #457b9d;
  --color-back4: #1d3557; }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text1: #ddd;
      --color-back1: #1d3557;
      --color-back2: #457b9d;
      --color-back3: #a8dadc;
      --color-back4: #f1faee; } }

body.light {
  --color-text1: #222;
  --color-back1: #f1faee;
  --color-back2: #a8dadc;
  --color-back3: #457b9d;
  --color-back4: #1d3557; }

body.dark {
  --color-text1: #ddd;
  --color-back1: #1d3557;
  --color-back2: #457b9d;
  --color-back3: #a8dadc;
  --color-back4: #f1faee; }

*, *:before, *:after {
  box-sizing: border-box;
  line-height: var(--line-height);
  text-rendering: optimizeLegibility; }

body {
  overflow-y: scroll; }

body, h1, h2, h3 {
  font-weight: var(--font-weight); }

strong {
  font-weight: var(--font-bold); }

img {
  display: block;
  width: 100%;
  height: auto; }

html {
  font-size: var(--font-size); }

body {
  font-family: var(--font-main);
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: var(--color-text1);
  background-color: var(--color-back1); }

h1, h2 {
  font-size: 2rem;
  margin: 0; }

h2 {
  font-size: 1.6rem;
  margin-block-start: 1em; }

p {
  margin-block: 1rem 0; }

h1 + p, h2 + p {
  margin-block-start: 0; }

svg {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  margin-inline: 4px;
  fill: var(--color-back4); }

a {
  position: relative; }
  a::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--color-back4);
    transform-origin: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in; }
  a:link, a:visited {
    font-weight: var(--font-bold);
    text-decoration: none;
    color: var(--color-back3); }
  a:hover, a:active, a:focus {
    color: var(--color-back4); }
    a:hover::before, a:active::before, a:focus::before {
      transform: scaleX(1); }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(4vw, 1fr) minmax(15rem, 35rem) minmax(4vw, 1fr);
  grid-template-rows: auto 1fr auto; }

header, footer {
  grid-column: 1/4; }

main {
  grid-column: 2/3;
  padding: 2rem 0 3rem 0; }

header {
  background-color: var(--color-back2); }
  header .logo {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: -0.1vw;
    padding: 0;
    margin: 0;
    margin-inline-start: 0.5rem; }
    header .logo a {
      color: var(--color-back4); }
      header .logo a::before {
        display: none; }
  header nav {
    float: right;
    margin-inline-end: 1rem;
    margin-block-end: 1rem; }
    header nav ul {
      display: flex;
      gap: 1.5rem;
      list-style-type: none;
      padding: 0;
      margin: 0; }
      header nav ul a, header nav ul strong {
        position: relative;
        display: block;
        padding-block-start: 1rem;
        color: var(--color-back4); }
      header nav ul strong::after {
        content: "";
        position: absolute;
        left: calc(50% - 5px);
        bottom: -10px;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent;
        border-top-color: var(--color-back4); }
  header figure {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 3px solid var(--color-back4);
    border-bottom: 3px solid var(--color-back4);
    overflow: hidden; }
    header figure img {
      height: 35vh;
      object-fit: cover; }

footer {
  background-color: var(--color-back2);
  border-top: 3px solid var(--color-back4); }
  footer .github {
    text-align: center;
    margin-block: 1em; }
    footer .github a {
      color: var(--color-back4); }
      footer .github a::before {
        display: none; }
  footer nav {
    margin-block: 1em; }
    footer nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    footer nav > ul {
      display: flex;
      justify-content: center;
      gap: 1.5rem; }
      footer nav > ul ul a:link {
        font-weight: var(--font-weight); }
    footer nav strong {
      color: var(--color-back4); }

.pagelist p {
  margin: 0; }

.pagenav {
  display: flex;
  justify-content: center;
  gap: 2em; }
  .pagenav p {
    margin: 0; }

.time, .words {
  display: inline-block;
  font-size: 0.8rem;
  margin: 0;
  margin-inline-end: 1em; }

.next, .prev {
  font-size: 0.8em;
  margin-block: 0; }
  .next em, .prev em {
    display: inline-block;
    width: 7em; }

.next, .prev, .pagenav {
  margin-block-start: 2em;
  padding-block-start: 0.5em;
  border-top: 2px dotted var(--color-back3); }

.next + .prev {
  border: 0 none;
  margin: 0;
  padding: 0; }

#themetoggle {
  transform: scale(0);
  display: inline-block;
  appearance: none;
  outline: none;
  width: 2em;
  height: 2em;
  vertical-align: text-top;
  margin-inline-start: 1em;
  background: #ff0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px #fff;
  transition: all 0.5s linear; }
  #themetoggle::after {
    content: '';
    display: block;
    width: 1.7em;
    height: 1.7em;
    background-color: var(--color-back2);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.1s linear; }
  .light #themetoggle, .dark #themetoggle {
    transform: scale(1); }
  .light #themetoggle {
    background: #fff; }
    .light #themetoggle::after {
      transform: scale(1); }
