<section id="about-section" class="about-section section theme-bg-light">
  <div class="container">
    <h2 class="section-heading mb-3">O que é o evento A11Y pelo RS?</h2>
    <div class="section-intro single-col-max mx-auto mb-4">
      <p>O A11Y pelo RS é uma iniciativa de mobilização de especialistas em acessibilidade digital para compartilhar conhecimento e arrecadar fundos para colaborar com as vidas do Rio Grande do Sul. A atuação de todas as pessoas envolvidas é totalmente voluntária.</p>
      <p>O foco neste momento é construir móveis para ajudar a população do Rio Grande do Sul a reconstruir suas vidas. Você quer fazer parte?</p>
      <p>Uma das ações de contribuição é o evento on-line do dia 18 de maio de 2024, das 10h às 16h. Teremos a participação de 9 pessoas palestrantes e 8 palestras!</p>
      <p>Para participar, você precisa se inscrever pelo Sympla. O evento vai acontecer na plataforma Zoom e terá Libras e legendas. O valor de cada ingresso é: R$ 20,00 e taxas.</p>
      <p>A ideia foi criada por <a href="https://www.linkedin.com/in/victoria-raupp/" rel="noopener noreferrer" target="_blank">Victoria Krupp</a>, moradora de Novo Hamburgo (RS), e conta com a colaboração de diversas pessoas voluntárias.</p>
      <p>Victoria está envolvida diretamente com diversas ações para mobilizar a sociedade para colaborar com as pessoas atingidas pela catástrofe climática. 
      </p>
    </div>

    <div class="benefits-list single-col-max mx-auto text-start mb-3">
      <h3 class="text-center mb-4">Por que participar do evento?</h3>
      <ul class="d-inline-block">
        <li>
          <strong>Seja parte da solução:</strong> sua participação contribui para a construção de móveis que auxiliarão na reconstrução da vida de pessoas em situação de vulnerabilidade.</li>
        <li>
          <strong>Impacte vidas:</strong> 5 ingressos vendidos garantem a construção de 1 armário, proporcionando mais autonomia e dignidade para quem mais precisa;
        </li>
        <li>
          <strong>Aprenda com quem entende:</strong> aprofunde ou atualize seus conhecimentos em acessibilidade digital com especialistas da área.
        </li>
        <li>
          <strong>Conexão imperdível:</strong> conecte-se com profissionais da área e amplie a sua rede de contatos.
        </li>
      </ul>

      <p style="font-size: 1.5rem;">Garanta seu <a href="https://bit.ly/A11YpeloRS" rel="noopener noreferrer" target="_blank">ingresso agora</a> e contribua para um futuro mais acessível e solidário para o Rio Grande do Sul!</p>
    </div>
  </div>
</section>