<footer class="footer py-5 theme-bg-primary">
  <div class="container text-center">
    <p>A11y pelo RS - 2024.</p>
    <small class="copyright">
      Feito com amor por <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> para desenvolvedores
    </small>
  </div>	    
</footer>



  <!-- Javascript -->
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>          
  <script src="./js/lib/popper.min.js"></script>
  <script src="./js/lib/bootstrap/js/bootstrap.min.js"></script>  
  <script src="./js/lib/smoothscroll.min.js"></script>
  <script src="./js/lib/gumshoe/gumshoe.polyfills.min.js"></script> 
  <script src="./js/main.js"></script>  
  <script type="module" src="./js/main.js"></script>s
