<header class="header fixed-top" id="header">	    
  <div class="branding">
    <div class="container-fluid">
      <nav class="main-nav navbar navbar-expand-lg">
        <div class="site-logo">
          <a class="scrollto" href="#hero-block">
            <img class="logo-icon" src="./images/logo-a11y.svg" alt="logo">
          </a>
        </div>    
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div id="navigation" class="navbar-collapse collapse  justify-content-lg-end me-lg-3">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link scrollto" href="#about-section">Sobre</a></li>                                              
            <li class="nav-item"><a class="nav-link scrollto" href="#speakers-section">Palestrantes</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="#schedule-section">Agenda</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="#sponsors-section">Apoiadores</a></li>
            <li class="nav-item"><a class="nav-link scrollto" href="#accountability-section">Prestação de contas</a></li>
          </ul>
        </div>

        <div class="navbar-btn">
          <a class="btn btn-success" href="https://bit.ly/A11YpeloRS" target="_blank">Garantir Ingresso</a>
        </div>
      </nav>
    </div>
  </div>
</header>