<div id="hero-block" class="hero-block">
  <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item-1 carousel-item active">
      </div>
      <div class="carousel-item-2 carousel-item">
      </div>
      <div class="carousel-item-3 carousel-item">
      </div>
    </div>
  </div>
  <div class="hero-block-mask"></div>
  <div class="container">
    <div class="hero-text-block">
      <h1 class="hero-heading mb-2"><span aria-label="Aliados">A11y</span> pelo <abbr title="Rio Grande do Sul">RS</abbr></h1>
      <div class="hero-meta mb-3"><span class="far fa-calendar-alt me-2" aria-hidden="true"></span>18 de Maio <span class="fas fa-map-marker-alt mx-2" aria-hidden="true"></span>New York, USA</div>
      <div class="hero-intro mb-4">The #1 Bootstrap Template for <br>Tech Conferences and Events.</div>
      <div class="hero-cta"><a class="btn btn-primary btn-lg" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/devconf-free-bootstrap-4-conference-template-for-tech-conferences-and-events/" target="_blank">Get Tickets</a></div>
    </div>
  </div>
</div>
