<div id="hero-block" class="hero-block">
  <div id="hero-carousel" class="hero-carousel carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item-1 carousel-item active">
      </div>
    </div>
  </div>
  <div class="hero-block-mask"></div>
  <div class="container">
    <div class="hero-text-block">
      <h1 class="hero-heading mb-2">
        <span aria-label="Aliados">A11y</span> pelo <abbr title="Rio Grande do Sul">RS</abbr>
      </h1>
      <div class="hero-meta mb-3">
        <span class="far fa-calendar-alt me-2" aria-hidden="true"></span> 18 de Maio 
        <span class="fas fa-map-marker-alt mx-2" aria-hidden="true"></span> Evento Online
      </div>

      <div class="hero-intro mb-4">
        <p>Evento Solidário em prol do Rio Grande do Sul.</p>
      </div>
      <div class="hero-cta">
        <a class="btn btn-primary btn-lg" href="https://www.sympla.com.br/evento-online/a11y-pelo-rs/2454833?qrcode=true" target="_blank">Garantir Ingresso</a>
      </div>
    </div>
  </div>
</div>
