<section id="schedule-section" class="schedule-section section">
  <div class="container">
    <h3 class="section-heading text-center mb-5">Agenda</h3>

    <div class="schedule-tab-content tab-content">
      <div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
        {% for talk in talks %}
        <div class="item item-talk">
          <div class="meta">
            <time class="time mb-3">{{ talk.speakerTime }}</time>
            <div class="profile">
              <img class="profile-image rounded-circle  mb-2" src="{{talk.speakerImage}}" alt="" />
              <div class="name">
                <strong>{{ talk.speakerName }}</strong>
              </div>
            </div>
          </div>
          <div class="content">
            <h3 class="title mb-3">{{ talk.presentationTitle }}</h3>
            <div class="desc">
              <p>{{ talk.presentationSummary }}</p>
              <p>Baixar a palestra de {{ talk.speakerName }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="schedule-cta text-center mx-auto">
      <a href="https://bit.ly/A11YpeloRS" class="btn btn-success btn-lg d-block d-md-inline-block" target="_blank">
        Garantir ingresso
      </a>
    </div>
  </div>
</section>