<section class="schedule-section section" id="schedule-section">
  <div class="container">
    <h2 class="section-heading text-center">Programação do evento</h2>
    <p class="text-center mb-5">Conheça a programação e as pessoas palestrantes que vão compartilhar conhecimento com você no dia 18 de maio! 
    </p>

    <div class="schedule tab-content">
      <div class="schedule-content">
        {% for talk in talks %}
        <div class="schedule-item schedule-item--talk">

          <div class="schedule-meta">
            <time class="time mb-3">{{ talk.speakerTime }}</time>

            <div class="schedule-profile">
              <img class="profile-image rounded-circle  mb-2" src="{{talk.speakerImage}}" alt="{{ talk.speakerImageAlt }}" />
              <div class="name">
                <p><strong>{{ talk.speakerName }}</strong></p>
              </div>
            </div>
          </div>

          <div class="schedule-body content">
            <h3 class="title mb-3">{{ talk.presentationTitle }}</h3>
            <div class="desc">
              <p>{{ talk.presentationSummary }}</p>
              {# <a href="{{ talk.presentationLink }}" rel="noreferrer noopener" target="_blank">Baixar a palestra de {{ talk.speakerName }}</a> #}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    {# <div class="schedule-cta text-center mx-auto">
      <a href="https://bit.ly/A11YpeloRS" class="btn btn-success btn-lg d-block d-md-inline-block" target="_blank">
        Garantir ingresso
      </a>
    </div> #}
  </div>
</section>