<section id="speakers-section" class="speakers-section section">
  <div class="container">
    <h2 class="section-heading text-center mb-3">Palestrantes</h2>
    <div class="section-intro text-center single-col-max mx-auto mb-5">List your featured speakers here. You can provide more info about each speaker in the relevant modal windows. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="row">
      {% for talk in talks %}
        {% include "partials/event.njk" %}
      {% endfor %}
    </div><!--//row-->
    <div class="speakers-cta text-center py-3">
      <a class="btn btn-primary btn-lg" href="https://bit.ly/A11YpeloRS" target="_blank">Garantir Ingresso</a>
    </div>
  </div><!--//container-->
</section><!--//speakers-section-->

<div class="container">
  <hr>
</div>