<section id="speakers-section" class="speakers-section section">
  <div class="container">
    <h2 class="section-heading text-center mb-3">Palestrantes</h2>
    <div class="section-intro text-center single-col-max mx-auto mb-5">
      <p>Conheça as pessoas palestrantes que vão compartilhar conhecimento com você no dia 18 de maio.</p>
    </div>
    <div class="row">
      {% for talk in talks %}
        {% include "partials/event.njk" %}
      {% endfor %}
    </div>
    {# <div class="speakers-cta text-center py-3">
      <a class="btn btn-success btn-lg" href="https://bit.ly/A11YpeloRS" target="_blank">Garantir Ingresso</a>
    </div> #}
  </div>
</section>

<div class="container">
  <hr>
</div>