<section id="sponsors-section" class="sponsors-section section">
  <div class="container">
    <h2 class="section-heading text-center mb-3">Apoiadores</h2>
    <div class="section-intro text-center single-col-max mx-auto mb-5">Want to become a sponsor? Get in touch lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis.</div>
    
    <div class="row logos justify-content-center">
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-1.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-2.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-3.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-4.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-5.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-6.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-7.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-8.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-9.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-10.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-11.svg" class="img-fluid" alt=""></div>
      <div class="logo-item col-6 col-md-4 col-lg-2"><img src="./images/logos/logo-12.svg" class="img-fluid" alt=""></div>
    </div><!--//row-->
    <div class="sponsors-cta text-center pt-5"><a class="btn-primary btn btn-lg" href="#">Become A Sponsor</a></div>
  </div><!--//container-->
</section><!--//sponsors-section-->