<section id="sponsors-section" class="sponsors-section section">
  <div class="container">
    <h2 class="section-heading text-center mb-3">Apoiadores e Voluntários</h2>
    <div class="section-intro text-center single-col-max mx-auto mb-5">
      <p>Want to become a sponsor? Get in touch lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat magna eu accumsan mattis.</p>
    </div>
    
    <div class="row logos justify-content-center">
      <p class="display-6">Oscar, Victoria, Tiago Wagner, Ariane, Matias, Marina, Gideão, Elieser, Francis, Neida, Jorge, Juninho, Lucas Wagner, Léia, Fabiano, Melissa, Mauro, Gilberto, Nicolas, Pedro, Rahin, Valdir, Daguy, Cláudio, Jonatas, Ana, Mirna, Cristiano, Adilson, Rafael, Gastão, Calebe, Andrea, Guilherme, Lucas Oliveira, Thiago, Cainã, Estevão, Matheus, Mauri, Jéssica, Moutinho Madeiras, Litofix</p>
    </div>
  </div>
</section>