<section id="sponsors-section" class="sponsors-section section">
  <div class="container">
    <h2 class="section-heading text-center mb-3">Apoio e pessoas voluntárias</h2>
    <div class="section-intro text-center single-col-max mx-auto mb-5">
      <p>Nada disso aconteceria sem o apoio de nossas pessoas voluntárias. Agradecemos muito!</p>
    </div>
    
    <div class="row logos justify-content-center">
      <p class="display-6">Oscar, Victoria, Tiago Wagner, Ariane, Matias, Marina, Gideão, Elieser, Francis, Neida, Jorge, Juninho, Lucas Wagner, Léia, Fabiano, Melissa, Mauro, Gilberto, Nicolas, Pedro, Rahin, Valdir, Daguy, Cláudio, Jonatas, Ana, Mirna, Cristiano, Adilson, Rafael, Gastão, Calebe, Andrea, Guilherme, Lucas Oliveira, Thiago, Cainã, Estevão, Matheus, Mauri, Jéssica, Moutinho Madeiras, Litofix</p>
    </div>
    <hr>

    <div class="row  mx-auto">
      <p style="font-size: 1.5rem;">Agradecemos imensamente todo o apoio recebido em nossa campanha solidária.</p>
      <p style="font-size: 1.5rem;">Para manter a transparência, criamos uma prestação de contas das doações e seu uso.</p>
      <p style="font-size: 1.5rem;"> 
        Juntos, estamos reconstruindo lares e restaurando a esperança de muitas famílias. <br> Muito obrigado por fazer parte desta corrente do bem!
      </p>

      <div class="schedule-cta text-center mx-auto">
        <a href="https://docs.google.com/spreadsheets/d/18HzGqTn7ZXztAGGEGMDQTRR6aVC9mGLRpj2qC745KiM/edit#gid=0" target="_blank" class="btn btn-success btn-lg d-block d-md-inline-block">
          Prestação de contas
        </a>
      </div>
    </div>
  </div>
</section>
